services:
  dockge:
    image: louislam/dockge:1
    restart: unless-stopped
    container_name: dockge
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - /home/cargo/docker:/opt/stacks
    environment:
      - DOCKGE_STACKS_DIR=/opt/stacks
    networks:
      - proxy_net

networks:
  proxy_net:
    external: true
